<?xml version="1.0" encoding="utf-8"?>
<androidx.constraintlayout.widget.ConstraintLayout xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:tools="http://schemas.android.com/tools"
    android:layout_width="match_parent"
    android:layout_height="match_parent">

    <ImageView
        android:id="@+id/imageView94"
        android:layout_width="739dp"
        android:layout_height="95dp"
        app:srcCompat="@drawable/statusbar"
        tools:layout_editor_absoluteX="-171dp"
        tools:layout_editor_absoluteY="-26dp"
        tools:ignore="ContentDescription,MissingConstraints,VisualLintBounds" />

    <ImageView
        android:id="@+id/imageView95"
        android:layout_width="492dp"
        android:layout_height="56dp"
        app:srcCompat="@drawable/navigationbar"
        tools:layout_editor_absoluteX="-40dp"
        tools:layout_editor_absoluteY="671dp"
        tools:ignore="ContentDescription,MissingConstraints,VisualLintBounds" />

    <TextView
        android:id="@+id/textView39"
        android:layout_width="129dp"
        android:layout_height="37dp"
        android:contentDescription="TODO"
        android:text="Settings"
        android:textSize="34sp"
        tools:ignore="HardcodedText,MissingConstraints,TextSizeCheck"
        tools:layout_editor_absoluteX="78dp"
        tools:layout_editor_absoluteY="54dp" />

    <ImageView
        android:id="@+id/imageView96"
        android:layout_width="171dp"
        android:layout_height="83dp"
        app:srcCompat="@drawable/circle"
        tools:layout_editor_absoluteX="-40dp"
        tools:layout_editor_absoluteY="37dp"
        tools:ignore="ContentDescription,MissingConstraints,VisualLintBounds" />

    <ImageView
        android:id="@+id/imageView97"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        app:srcCompat="@drawable/rightdirectionalarrow"
        tools:layout_editor_absoluteX="16dp"
        tools:layout_editor_absoluteY="54dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView40"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Payment"
        android:textSize="24sp"
        tools:layout_editor_absoluteX="16dp"
        tools:layout_editor_absoluteY="99dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView98"
        android:layout_width="105dp"
        android:layout_height="53dp"
        app:srcCompat="@drawable/creditcard"
        tools:layout_editor_absoluteX="16dp"
        tools:layout_editor_absoluteY="120dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView41"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Saved Card"
        android:textSize="20sp"
        tools:layout_editor_absoluteX="126dp"
        tools:layout_editor_absoluteY="131dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView99"
        android:layout_width="71dp"
        android:layout_height="92dp"
        app:srcCompat="@drawable/greaterthanarrow"
        tools:layout_editor_absoluteX="333dp"
        tools:layout_editor_absoluteY="92dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView100"
        android:layout_width="82dp"
        android:layout_height="66dp"
        app:srcCompat="@drawable/automaticpayment"
        tools:layout_editor_absoluteX="16dp"
        tools:layout_editor_absoluteY="173dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView42"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Automatic Payment"
        android:textSize="20sp"
        tools:layout_editor_absoluteX="98dp"
        tools:layout_editor_absoluteY="192dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView101"
        android:layout_width="78dp"
        android:layout_height="95dp"
        app:srcCompat="@drawable/greaterthanarrow"
        tools:layout_editor_absoluteX="333dp"
        tools:layout_editor_absoluteY="171dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView43"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Security"
        android:textSize="24sp"
        tools:layout_editor_absoluteX="24dp"
        tools:layout_editor_absoluteY="234dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView102"
        android:layout_width="67dp"
        android:layout_height="80dp"
        app:srcCompat="@drawable/changepassword"
        tools:layout_editor_absoluteX="14dp"
        tools:layout_editor_absoluteY="286dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView44"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Change Password"
        android:textSize="20sp"
        tools:layout_editor_absoluteX="98dp"
        tools:layout_editor_absoluteY="296dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView103"
        android:layout_width="78dp"
        android:layout_height="100dp"
        app:srcCompat="@drawable/greaterthanarrow"
        tools:layout_editor_absoluteX="329dp"
        tools:layout_editor_absoluteY="248dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView104"
        android:layout_width="76dp"
        android:layout_height="88dp"
        app:srcCompat="@drawable/manageapplock"
        tools:layout_editor_absoluteX="14dp"
        tools:layout_editor_absoluteY="357dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView45"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Manage App Lock"
        android:textSize="20sp"
        tools:layout_editor_absoluteX="90dp"
        tools:layout_editor_absoluteY="378dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView105"
        android:layout_width="71dp"
        android:layout_height="100dp"
        app:srcCompat="@drawable/greaterthanarrow"
        tools:layout_editor_absoluteX="333dp"
        tools:layout_editor_absoluteY="323dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView46"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="General Information"
        android:textSize="24sp"
        tools:layout_editor_absoluteX="-2dp"
        tools:layout_editor_absoluteY="445dp"
        tools:ignore="HardcodedText,MissingConstraints,VisualLintBounds" />

    <ImageView
        android:id="@+id/imageView106"
        android:layout_width="83dp"
        android:layout_height="89dp"
        app:srcCompat="@drawable/address"
        tools:layout_editor_absoluteX="7dp"
        tools:layout_editor_absoluteY="463dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView47"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Home Address"
        android:textSize="20sp"
        tools:layout_editor_absoluteX="81dp"
        tools:layout_editor_absoluteY="494dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView107"
        android:layout_width="73dp"
        android:layout_height="103dp"
        app:srcCompat="@drawable/greaterthanarrow"
        tools:layout_editor_absoluteX="329dp"
        tools:layout_editor_absoluteY="463dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView108"
        android:layout_width="81dp"
        android:layout_height="101dp"
        app:srcCompat="@drawable/bell"
        tools:layout_editor_absoluteX="7dp"
        tools:layout_editor_absoluteY="507dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView109"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        app:srcCompat="@drawable/onandoff"
        tools:layout_editor_absoluteX="337dp"
        tools:layout_editor_absoluteY="532dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView110"
        android:layout_width="178dp"
        android:layout_height="81dp"
        app:srcCompat="@drawable/customerservice"
        tools:layout_editor_absoluteX="-40dp"
        tools:layout_editor_absoluteY="571dp"
        tools:ignore="ContentDescription,MissingConstraints,VisualLintBounds" />

    <TextView
        android:id="@+id/textView48"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Customer Service"
        android:textSize="20sp"
        tools:layout_editor_absoluteX="98dp"
        tools:layout_editor_absoluteY="613dp"
        tools:ignore="HardcodedText,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView111"
        android:layout_width="84dp"
        android:layout_height="86dp"
        app:srcCompat="@drawable/greaterthanarrow"
        tools:layout_editor_absoluteX="327dp"
        tools:layout_editor_absoluteY="571dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <ImageView
        android:id="@+id/imageView113"
        android:layout_width="33dp"
        android:layout_height="31dp"
        app:srcCompat="@drawable/logout"
        tools:layout_editor_absoluteX="24dp"
        tools:layout_editor_absoluteY="640dp"
        tools:ignore="ContentDescription,MissingConstraints" />

    <TextView
        android:id="@+id/textView49"
        android:layout_width="wrap_content"
        android:layout_height="wrap_content"
        android:text="Logout"
        android:textColor="#795548"
        android:textSize="20sp"
        tools:ignore="HardcodedText,MissingConstraints"
        tools:layout_editor_absoluteX="76dp"
        tools:layout_editor_absoluteY="651dp" />

</androidx.constraintlayout.widget.ConstraintLayout>
